{% from 'macro.html.twig' import property_value %}

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3" data-masonry='{ "percentPosition": true }'>

  {% for propertyGroup in propertyGroups|sort((a, b) => a.name <=> b.name) %}
    <div class="col">
      <div class="card card-body">
        <h3>{{ propertyGroup.name }}</h3>
        <div class="table-responsive">
          <table class="table mb-0">

            {% for propertyValue in propertyValues|sort((a, b) => a.property.name <=> b.property.name) %}
              {% if propertyValue.propertyGroup.id == propertyGroup.id %}
                <tr>
                  <th scope="row" class="col-6">

                    {% if propertyValue.property.description is not null %}
                      <dfn>
                        <abbr data-bs-toggle="tooltip" data-bs-html="true"
                              title="{{ propertyValue.property.description|raw|nl2br|escape('html_attr') }}">
                          {{ propertyValue.property.name }}
                        </abbr>
                      </dfn>
                    {% else %}
                      {{ propertyValue.property.name }}
                    {% endif %}

                  </th>
                  <td>{{ property_value(propertyValue) }}</td>
                </tr>
              {% endif %}
            {% endfor %}

          </table>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
