{% extends 'layouts/default.html.twig' %}

{% block title %}{{ 'Sign in'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
  <div class="card card-body mx-auto max-w-500px">
    <h1 class="card-title text-center">{{ 'Sign in'|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.email, { label: 'Email:'|trans }) }}
    {{ form_row(form.password, { label: 'Password:'|trans }) }}

    <div class="text-end my-3">
      <a href="{{ path('password_reset_request') }}">
        {{ 'I forgot my password'|trans }}
      </a>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">
        {{ 'Sign in'|trans }}
      </button>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <hr>

    {% include 'partials/oauth.html.twig' %}

  </div>
{% endblock %}
