{% extends 'layouts/default.html.twig' %}

{% block title %}{{ 'Legal notice'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
  <div class="card card-body mx-auto max-w-700px">
    <h1 class="card-title text-center">{{ 'Legal notice'|trans }}</h1>
    <h2 class="card-title h3">{{ 'Hosting provider'|trans }}</h2>
    <p class="card-text">
      {{ 'This website is hosted by:'|trans }}
    </p>
    <address>
      <strong>OVH SAS</strong><br>
      2 rue Kellermann<br>
      59100 Roubaix<br>
      France
    </address>
    <p class="card-text">
      {{ 'Telephone: %link%'|trans({
        '%link%': '<a href="tel:+330972101007">+33 (0)9 72 10 10 07</a>'
      })|raw }}
      <br>
      {{ 'Contact: %link%'|trans({
        '%link%': '<a href="https://www.ovhcloud.com/en/contact/">' ~ 'contact form'|trans ~ '</a>'
      })|raw }}
    </p>
    <h2 class="card-title h3">{{ 'Analytics'|trans }}</h2>
    <p class="card-text">
      {{ 'As part of the operation of our website, we collect anonymous visitor statistics. These data do not allow us to identify you.'|trans }}
    </p>
    <h2 class="card-title h3">{{ 'Personal data'|trans }}</h2>
    <p class="card-text">
      {{ 'Please see our %link%.'|trans({
        '%link%': '<a href="' ~ path('static_privacy_policy') ~ '">' ~ 'privacy policy'|trans ~ '</a>'
      })|raw }}
    </p>
    <h2 class="card-title h3">{{ 'Cookies'|trans }}</h2>
    <p class="card-text">
      {{ 'Please see our %link%.'|trans({
        '%link%': '<a href="' ~ path('static_cookie_policy') ~ '">' ~ 'cookie policy'|trans ~ '</a>'
      })|raw }}
    </p>
    <h2 class="card-title h3">{{ 'Licenses'|trans }}</h2>
    <p class="card-text">
      {{ 'Data is published under the terms of the %link% license.'|trans({
        '%link%': '<a rel="noopener noreferrer" href="https://opendatacommons.org/licenses/by/1-0/">ODC-By 1.0</a>'
      })|raw }}
    </p>
    <p class="card-text">
      {{ 'Website %link1% is published under the terms of the %link2% license.'|trans({
        '%link1%': '<a href="https://github.com/jbroutier/aircraft-database">' ~ 'source code'|trans ~ '</a>',
        '%link2%': '<a rel="noopener noreferrer" href="https://spdx.org/licenses/MIT.html">MIT</a>'
      })|raw }}
    </p>
    <p class="card-text">
      {{ 'The photographs are the property of their respective authors and are published under the terms of their respective licenses.'|trans }}
    </p>
    <h2 class="card-title h3">{{ 'Limited liability'|trans }}</h2>
    <p class="card-text">
      {{ 'The site editor cannot be held responsible for the incompleteness or inaccuracy of the data, or damage to property or persons that may result from their use. Data from this website must not under no circumstances be used for flight planning and/or navigation onboard an aircraft.'|trans }}
    </p>
  </div>
{% endblock %}
