{% extends 'layouts/database.html.twig' %}

{% from 'macro.html.twig' import country_flag, country_name, tags %}

{% block title %}{{ 'Manufacturers'|trans }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Manufacturers data: History, engines, aircraft types,…'|trans }}{% endblock %}
{% block filters %}{% include 'partials/filters/manufacturer.html.twig' %}{% endblock %}

{% block content %}
  <div class="card card-body">
    <h1 class="card-title">{{ 'Manufacturers'|trans }}</h1>
    <div class="card-subtitle text-muted" data-nosnippet>
      {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
        '%count%': manufacturers.nbResults,
        '%nbResults%': manufacturers.nbResults|format_number
      }) }}
      -
      {{ 'Page %currentPage% out of %nbPages%'|trans({
        '%currentPage%': manufacturers.currentPage|format_number,
        '%nbPages%': manufacturers.nbPages|format_number
      }) }}
    </div>
  </div>
  <div class="card card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th class="col-2" scope="col">{{ 'Country'|trans }}</th>
            <th class="col-2" scope="col">{{ 'Name'|trans }}</th>
            <th class="col-auto"></th>
          </tr>
        </thead>
        <tbody class="align-middle">

          {% for manufacturer in manufacturers %}
            <tr>
              <td>{{ country_name(manufacturer.country) }}</td>
              <td>
                <a href="{{ path('database_manufacturer_read', { slug: manufacturer.slug }) }}">
                  {{ manufacturer.name }}
                </a>
              </td>
              <td>{{ tags(manufacturer.tags) }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  {% if manufacturers.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(manufacturers) }}
    </div>
  {% endif %}

{% endblock %}
