{% extends 'layouts/default.html.twig' %}

{% from 'macro.html.twig' import country_name, engine_rating, tags %}

{% block title %}{{ manufacturer.name }} - {{ parent() }}{% endblock %}
{% block description %}{{ '%manufacturer% data: History, engines, aircraft types,…'|trans({
  '%manufacturer%': manufacturer.name
}) }}{% endblock %}

{% block content %}
  <div class="row row-cols-1 row-cols-lg-2 g-3">
    <div class="col">
      <div class="card card-body h-100">
        <h1 class="card-title">{{ manufacturer.name }}</h1>
        <div class="card-subtitle text-muted">
          {{ 'Manufacturer'|trans }}
        </div>

        {% if manufacturer.tags|length %}
          <div class="mt-3">
            {{ tags(manufacturer.tags) }}
          </div>
        {% endif %}

        {% if manufacturer.content is not null %}
          <div class="mt-3">
            {{ manufacturer.content|markdown_to_html }}
          </div>
        {% endif %}

      </div>
    </div>
    <div class="col">
      <div class="card card-body h-100">
        <div class="table-responsive">
          <table class="table mb-0">
            <tbody class="align-middle">
              <tr>
                <th class="col-6" scope="row">{{ 'Country'|trans }}</th>
                <td class="col-6">{{ country_name(manufacturer.country) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if manufacturer.propertyValues|length %}
    {% include 'database/partials/properties.html.twig' with {
      propertyGroups: manufacturer.propertyGroups,
      propertyValues: manufacturer.propertyValues
    } %}
  {% endif %}

  {% if manufacturer.aircraftTypes|length %}
    <div class="card card-body">
      <h2 class="card-title">{{ 'Aircraft types'|trans }}</h2>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th class="col-2" scope="col">{{ 'Name'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Aircraft family'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Engine type'|trans }}</th>
              <th class="col-1" scope="col">{{ 'ICAO code'|trans }}</th>
              <th class="col-1" scope="col">{{ 'IATA code'|trans }}</th>
              <th class="col-auto"></th>
            </tr>
          </thead>
          <tbody class="align-middle">

            {% for aircraftType in manufacturer.aircraftTypes %}
              <tr>
                <td>
                  <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
                    {{ aircraftType.name }}
                  </a>
                </td>
                <td>{{ aircraftType.aircraftFamily.label|trans }}</td>
                <td>{{ aircraftType.engineFamily.label|trans }}</td>
                <td>{{ aircraftType.icaoCode|default('-') }}</td>
                <td>{{ aircraftType.iataCode|default('-') }}</td>
                <td>{{ tags(aircraftType.tags) }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {% if manufacturer.engineModels|length %}
    <div class="card card-body">
      <h2 class="card-title">{{ 'Engine models'|trans }}</h2>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th class="col-2" scope="col">{{ 'Name'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Engine type'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Max. continuous rating'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Max. takeoff rating'|trans }}</th>
              <th class="col-auto"></th>
            </tr>
          </thead>
          <tbody class="align-middle">

            {% for engineModel in manufacturer.engineModels %}
              <tr>
                <td>
                  <a href="{{ path('database_engine_model_read', { slug: engineModel.slug }) }}">
                    {{ engineModel.name }}
                  </a>
                </td>
                <td>{{ engineModel.engineFamily.label|trans }}</td>
                <td>{{ engine_rating(engineModel, 'continuous') }}</td>
                <td>{{ engine_rating(engineModel, 'takeoff') }}</td>
                <td>{{ tags(engineModel.tags) }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

{% endblock %}
