<div class="modal" tabindex="-1">
  <div class="modal-dialog">

    {{ form_start(form, { attr: { class: 'modal-content' } }) }}

    <div class="modal-header">
      <h5 class="modal-title">{{ property.name }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
    </div>
    <div class="modal-body">

      {% include 'admin/property/partials/form.html.twig' %}

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        {{ 'Cancel'|trans }}
      </button>
      <button type="button" class="btn btn-primary" data-action="click->modal#submit"
              data-modal-url-param="{{ path('admin_property_update', { id: property.id }) }}">
        {{ 'Save'|trans }}
      </button>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>
</div>
