<div class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-xl-down modal-xl">

    {{ form_start(form, { attr: { class: 'modal-content' } }) }}

    <div class="modal-header">
      <h5 class="modal-title">{{ 'New engine model'|trans }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column gap-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

          {{ form_row(form.name, { label: 'Name:'|trans, row_attr: { class: 'col' }, attr: {
            'data-action': 'input->slug#generate',
            'data-slug-target-param': '#engine_model_slug'
          } }) }}
          {{ form_row(form.slug, { label: 'Slug:'|trans, row_attr: { class: 'col' } }) }}
          {{ form_row(form.manufacturer, { label: 'Manufacturer:'|trans, row_attr: { class: 'col' } }) }}
          {{ form_row(form.tags, { label: 'Tags:'|trans, row_attr: { class: 'col' } }) }}

        </div>
        <div class="row row-cols-1 row-cols-md-2 g-3">

          {{ form_row(form.pictures, { label: 'Pictures:'|trans, row_attr: { class: 'col' } }) }}
          {{ form_row(form.propertyValues, { label: 'Properties:'|trans, row_attr: { class: 'col' } }) }}

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        {{ 'Cancel'|trans }}
      </button>
      <button type="button" class="btn btn-primary" data-action="click->modal#submit"
              data-modal-url-param="{{ path('admin_engine_model_create') }}">
        {{ 'Save'|trans }}
      </button>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>
</div>
