{% if aircraftTypes.count %}
  <section id="aircraftTypes" class="d-flex flex-column gap-3">
    <h3>{{ 'Aircraft types'|trans }}</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-3">

      {% for aircraftType in aircraftTypes %}
        <div class="col">
          <div class="card">
            <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
              <div class="card-img-top position-relative">

                {% if aircraftType.pictures|length %}
                  <img class="img-fluid"
                       src="{{ asset('pictures/' ~ aircraftType.pictures|first)|imagine_filter('thumbnail_560x320') }}"
                       width="560" height="320" alt="{{ aircraftType.pictures|first.description|escape('html_attr') }}">
                {% else %}
                  <img class="img-fluid" src="{{ asset('assets/images/no-picture-560x320.webp') }}"
                       width="560" height="320" alt="">
                {% endif %}

                {% include '_partials/tags.html.twig' with { tags: aircraftType.tags } %}

              </div>
            </a>
            <div class="card-body">
              <div class="d-flex justify-content-between gap-3">
                <div>
                  <h3 class="card-title">
                    <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
                      {{ aircraftType.name }}
                    </a>
                  </h3>

                  {% if aircraftType.manufacturer is not null %}
                    <p class="card-text">

                      {% if aircraftType.manufacturer.country is not null %}
                        <span data-bs-toggle="tooltip"
                              title="{{ aircraftType.manufacturer.country|country_name|escape('html_attr') }}">
                          <span class="fp {{ aircraftType.manufacturer.country|lower }} me-2"></span>
                        </span>
                      {% else %}
                        <span data-bs-toggle="tooltip" data-bs-tooltip="{{ 'International'|trans }}">
                          <span class="fp intl me-2"></span>
                        </span>
                      {% endif %}

                      {{ aircraftType.manufacturer.name }}
                    </p>
                  {% endif %}

                  {% if aircraftType.iataCode is not null or aircraftType.icaoCode is not null %}
                    <p class="card-text text-muted small">
                      {{ 'IATA: %iataCode% | ICAO: %icaoCode%'|trans({
                        '%iataCode%': aircraftType.iataCode|default('-'),
                        '%icaoCode%': aircraftType.icaoCode|default('-')
                      })|raw }}
                    </p>
                  {% endif %}

                </div>

                {% if aircraftType.manufacturer is not null and aircraftType.manufacturer.logo is not null %}
                  <div class="logo-container">
                    <img src="{{ asset('logos/' ~ aircraftType.manufacturer.logo) }}" alt="">
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    {% if aircraftTypes.haveToPaginate %}
      <div class="d-flex justify-content-center">
        {{ pagerfanta(aircraftTypes, 'custom', {
          pageParameter: '[aircraftTypesPage]',
          routeParams: { _fragment: 'aircraftTypes' }
        } ) }}
      </div>
    {% endif %}

  </section>
{% endif %}
