{% if engineModels.count %}
  <section id="engineModels">
    <h3>{{ 'Engine models'|trans }}</h3>
    <p class="text-muted">
      {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
        '%count%': engineModels.nbResults,
        '%nbResults%': engineModels.nbResults|format_number
      })|raw }}
      -
      {{ 'Page %currentPage% out of %nbPages%'|trans({
        '%currentPage%': engineModels.currentPage|format_number,
        '%nbPages%': engineModels.nbPages|format_number
      })|raw }}
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-3">

      {% for engineModel in engineModels %}
        <div class="col">
          <div class="card">
            <a href="{{ path('database_engine_model_read', { slug: engineModel.slug }) }}">
              <div class="card-img-top position-relative overflow-hidden">

                {% if engineModel.pictures|length %}
                  <img class="img-fluid"
                       src="{{ asset('pictures/' ~ engineModel.pictures|first)|imagine_filter('thumbnail_560x320') }}"
                       width="560" height="320" alt="{{ engineModel.pictures|first.description|escape('html_attr') }}">
                {% else %}
                  <img class="img-fluid" src="{{ asset('assets/images/no-picture-560x320.webp') }}"
                       width="560" height="320" alt="">
                {% endif %}

                {% include '_partials/tags.html.twig' with { tags: engineModel.tags } %}

              </div>
            </a>
            <div class="card-body">
              <div class="d-flex justify-content-between gap-3">
                <div>
                  <a href="{{ path('database_engine_model_read', { slug: engineModel.slug }) }}">
                    <h4>{{ engineModel.name }}</h4>
                  </a>

                  {% if engineModel.manufacturer is not null %}
                    <p class="card-text">

                      {% if engineModel.manufacturer.country is not null %}
                        <span data-bs-toggle="tooltip"
                              title="{{ engineModel.manufacturer.country|country_name|escape('html_attr') }}">
                          <span class="fp {{ engineModel.manufacturer.country|lower }} me-2"></span>
                        </span>
                      {% else %}
                        <span data-bs-toggle="tooltip" title="{{ 'International'|trans }}">
                          <span class="fp intl me-2"></span>
                        </span>
                      {% endif %}

                      {{ engineModel.manufacturer.name }}
                    </p>
                  {% endif %}

                </div>

                {% if engineModel.manufacturer is not null and engineModel.manufacturer.logo is not null %}
                  <div class="logo-container">
                    <img src="{{ asset('logos/' ~ engineModel.manufacturer.logo) }}" alt="">
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    {% if engineModels.haveToPaginate %}
      <div class="d-flex justify-content-center mt-3">
        {{ pagerfanta(engineModels, 'custom', {
          pageParameter: '[engineModelsPage]',
          routeParams: { _fragment: 'engineModels' }
        } ) }}
      </div>
    {% endif %}

  </section>
{% endif %}
