{% if engineModels.count %}
  <section id="engineModels" class="d-flex flex-column gap-3">
    <h3>{{ 'Engine models'|trans }}</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-3">

      {% for engineModel in engineModels %}
        <div class="col">
          <div class="card">
            <a href="{{ path('database_engine_model_read', { slug: engineModel.slug }) }}">
              <div class="card-img-top position-relative">

                {% if engineModel.pictures|length %}
                  <img class="img-fluid"
                       src="{{ asset('pictures/' ~ engineModel.pictures.first)|imagine_filter('thumbnail_560x320') }}"
                       width="560" height="320" alt="">
                {% else %}
                  <img class="img-fluid" src="{{ asset('assets/images/no-picture-560x320.webp') }}"
                       width="560" height="320" alt="">
                {% endif %}

                {% include '_partials/tags.html.twig' with { tags: engineModel.tags } %}

              </div>
            </a>
            <div class="card-body">
              <h3 class="card-title">
                <a href="{{ path('database_engine_model_read', { slug: engineModel.slug }) }}">
                  {{ engineModel.name }}
                </a>
              </h3>

              {% if engineModel.manufacturer is not null %}
                <p class="card-text">
                  {{ engineModel.manufacturer.name }}
                </p>
              {% endif %}

            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    {% if engineModels.haveToPaginate %}
      <div class="d-flex justify-content-center">
        {{ pagerfanta(engineModels, 'twitter_bootstrap5', {
          pageParameter: '[engineModelsPage]',
          routeParams: { _fragment: 'engineModels' }
        } ) }}
      </div>
    {% endif %}

  </section>
{% endif %}
