<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">

    {{ form_row(form.name, { label: 'Name:'|trans, attr: {
      'data-action': 'input->slug#generate',
      'data-slug-target-param': '#manufacturer_slug'
    } }) }}
    {{ form_row(form.slug, { label: 'Slug:'|trans }) }}
    {{ form_row(form.country, { label: 'Country:'|trans }) }}
    {{ form_row(form.tags, { label: 'Tags:'|trans }) }}

  </div>
  <div class="col">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="propertiesTab" data-bs-toggle="tab" data-bs-target="#properties"
                type="button" role="tab" aria-controls="properties" aria-selected="true">
          {{ 'Properties'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="picturesTab" data-bs-toggle="tab" data-bs-target="#pictures"
                type="button" role="tab" aria-controls="pictures" aria-selected="false">
          {{ 'Pictures'|trans }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="logoTab" data-bs-toggle="tab" data-bs-target="#logo"
                type="button" role="tab" aria-controls="logo" aria-selected="false">
          {{ 'Logo'|trans }}
        </button>
      </li>
    </ul>
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="properties" role="tabpanel" aria-labelledby="propertiesTab">

        {{ form_widget(form.propertyValues) }}

      </div>
      <div class="tab-pane fade" id="pictures" role="tabpanel" aria-labelledby="picturesTab">

        {{ form_widget(form.pictures) }}

      </div>
      <div class="tab-pane fade" id="logo" role="tabpanel" aria-labelledby="logoTab">

        {{ form_widget(form.logo) }}

      </div>
    </div>
  </div>
</div>
