<div class="d-flex flex-column gap-3">
  <div class="row row-cols-1 row-cols-sm-2 g-3">

    {{ form_row(form.name, { label: 'Name:'|trans, row_attr: { class: 'col' }, attr: {
      'data-action': 'input->slug#generate',
      'data-slug-target-param': '#property_slug'
    } }) }}
    {{ form_row(form.slug, { label: 'Slug:'|trans, row_attr: { class: 'col' } }) }}
    {{ form_row(form.propertyGroup, { label: 'Group:'|trans, row_attr: { class: 'col' } }) }}
    {{ form_row(form.type, { label: 'Type:'|trans, row_attr: { class: 'col' } }) }}
    {{ form_row(form.unit, { label: 'Unit:'|trans, row_attr: { class: 'col' } }) }}

  </div>

  {{ form_row(form.description, { label: 'Description:'|trans, row_attr: { class: 'w-100' } }) }}

</div>
