{% extends '_layouts/database.html.twig' %}

{% block title %}{{ 'Manufacturers'|trans }} - {{ parent() }}{% endblock %}

{% block side_content %}
  {% include '_partials/filters/manufacturers.html.twig' %}
{% endblock %}

{% block main_content %}
  <div class="card card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="card-title">{{ 'Manufacturers'|trans }}</h1>
        <p class="card-text text-muted">
          {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
            '%count%': manufacturers.nbResults,
            '%nbResults%': manufacturers.nbResults|format_number
          })|raw }}
          -
          {{ 'Page %currentPage% out of %nbPages%'|trans({
            '%currentPage%': manufacturers.currentPage|format_number,
            '%nbPages%': manufacturers.nbPages|format_number
          })|raw }}
        </p>
      </div>
      <button type="button" class="btn btn-success" data-action="click->modal#show"
              data-modal-url-param="{{ path('admin_manufacturer_create') }}">
        {{ 'New manufacturer'|trans }}
      </button>
    </div>
  </div>
  <div class="card card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col" class="col-2">{{ 'Name'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Country'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Created'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Updated'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Actions'|trans }}</th>
          </tr>
        </thead>
        <tbody class="align-middle">

          {% for manufacturer in manufacturers %}
            <tr>
              <td>{{ manufacturer.name }}</td>
              <td>
                <span class="fp {{ manufacturer.country|lower }} me-2"></span>
                {{ manufacturer.country|country_name }}
              </td>
              <td>
                {{ manufacturer.createdAt|date }}

                {% if manufacturer.createdBy is not null %}
                  <br>{{ 'by'|trans }} {{ manufacturer.createdBy.username }}
                {% endif %}

              </td>
              <td>

                {% if manufacturer.updatedAt is not null %}
                  {{ manufacturer.updatedAt|date }}
                {% else %}
                  -
                {% endif %}

                {% if manufacturer.updatedBy is not null %}
                  <br>{{ 'by'|trans }} {{ manufacturer.updatedBy.username }}
                {% endif %}

              </td>
              <td>
                <button type="button" class="btn btn-danger" data-action="click->modal#show"
                        data-modal-url-param="{{ path('admin_manufacturer_delete', { id: manufacturer.id }) }}">
                  {{ 'Delete'|trans }}
                </button>
                <button type="button" class="btn btn-primary" data-action="click->modal#show"
                        data-modal-url-param="{{ path('admin_manufacturer_update', { id: manufacturer.id }) }}">
                  {{ 'Edit'|trans }}
                </button>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  {% if manufacturers.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(manufacturers) }}
    </div>
  {% endif %}

{% endblock %}
