{% extends '_layouts/default.html.twig' %}

{% block title %}{{ 'Contact'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
  <div class="card card-body mx-auto max-w-500px">
    <h1 class="display-6 mb-3 text-center">{{ 'Contact'|trans }}</h1>

    {{ form_start(form) }}

    <div class="row g-3">

      {{ form_row(form.name, { label: 'Name:'|trans, row_attr: { class: 'col-12' } }) }}
      {{ form_row(form.address, { label: 'Email address:'|trans, row_attr: { class: 'col-12' } }) }}
      {{ form_row(form.subject, { label: 'Subject:'|trans, row_attr: { class: 'col-12' } }) }}
      {{ form_row(form.message, { label: 'Message:'|trans, attr: { rows: 10 }, row_attr: { class: 'col-12' } }) }}
      {{ form_row(form.consent, { label: 'I agree with the %link% regarding the processing of my data.'|trans({
        '%link%': '<a href="' ~ path('static_privacy_policy') ~ '">' ~ 'Privacy policy'|trans ~ '</a>'
      }), label_html: true, row_attr: { class: 'col-12' } }) }}

      <div class="col-12">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">
            {{ 'Send my message'|trans }}
          </button>
        </div>
      </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>
{% endblock %}
