{% macro engine_rating(engineModel, rating) %}

  {% if engineModel.propertyValues|filter(pv => pv.property.slug == 'max-' ~ rating ~ '-hp')|length %}
    {{ engineModel.propertyValues|filter(pv => pv.property.slug == 'max-' ~ rating ~ '-hp')|first.value }}&nbsp;hp
  {% elseif engineModel.propertyValues|filter(pv => pv.property.slug == 'max-' ~ rating ~ '-power')|length %}
    {{ engineModel.propertyValues|filter(pv => pv.property.slug == 'max-' ~ rating ~ '-power')|first.value }}&nbsp;kW
  {% elseif engineModel.propertyValues|filter(pv => pv.property.slug == 'max-' ~ rating ~ '-thrust')|length %}
    {{ engineModel.propertyValues|filter(pv => pv.property.slug == 'max-' ~ rating ~ '-thrust')|first.value }}&nbsp;kN
  {% else %}
    -
  {% endif %}

{% endmacro %}

{% macro country_flag(country) %}

  {% if country is not null %}
    <span data-bs-toggle="tooltip" title="{{ country|country_name }}">
      <span class="fi fi-{{ country|lower }} me-1"></span>
    </span>
  {% else %}
    <span data-bs-toggle="tooltip" title="{{ 'International'|trans }}">
      <span class="fi fi-xx me-1"></span>
    </span>
  {% endif %}

{% endmacro %}

{% macro country_name(country) %}

  {% if country is not null %}
    <span class="fi fi-{{ country|lower }} me-1"></span> {{ country|country_name }}
  {% else %}
    <span class="fi fi-xx me-1"></span> {{ 'International'|trans }}
  {% endif %}

{% endmacro %}

{% macro opengraph_images(pictures) %}

  {% for picture in pictures %}
    <meta property="og:image"
          content="{{ absolute_url(asset('pictures/' ~ picture)|imagine_filter('thumbnail_1200x630')) }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    {% if picture.description is not null %}
      <meta property="og:image:alt" content="{{ picture.description|escape('html_attr') }}">
    {% endif %}

  {% endfor %}

{% endmacro %}

{% macro tags(tags) %}

  {% if tags|length %}
    <div class="d-flex flex-column align-items-start gap-1">

      {% for tag in tags %}
        <div class="badge" style="background: {{ tag.color }};">

          {% if tag.description is not null %}
            <span data-bs-toggle="tooltip" data-bs-html="true"
                  title="{{ tag.description|raw|nl2br|escape('html_attr') }}">{{ tag.name }}</span>
          {% else %}
            {{ tag.name }}
          {% endif %}

        </div>
      {% endfor %}

    </div>
  {% endif %}

{% endmacro %}
