{% extends 'layouts/database.html.twig' %}

{% block title %}{{ 'Aircraft models'|trans }} - {{ parent() }}{% endblock %}
{% block filters %}{% include 'partials/filters/aircraft_model.html.twig' %}{% endblock %}

{% block content %}
  <div class="card card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>{{ 'Aircraft models'|trans }}</h1>
        <p class="card-text text-muted">
          {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
            '%count%': aircraftModels.nbResults,
            '%nbResults%': aircraftModels.nbResults|format_number
          }) }}
          -
          {{ 'Page %currentPage% out of %nbPages%'|trans({
            '%currentPage%': aircraftModels.currentPage|format_number,
            '%nbPages%': aircraftModels.nbPages|format_number
          }) }}
        </p>
      </div>
      <button type="button" class="btn btn-success" data-action="click->modal#show"
              data-modal-url-param="{{ path('admin_aircraft_model_create') }}">
        {{ 'New aircraft model'|trans }}
      </button>
    </div>
  </div>
  <div class="card card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col" class="col-2">{{ 'Name'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Manufacturer'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Aircraft type'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Created'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Updated'|trans }}</th>
            <th scope="col" class="col-2">{{ 'Actions'|trans }}</th>
          </tr>
        </thead>
        <tbody class="align-middle">

          {% for aircraftModel in aircraftModels %}
            <tr>
              <td>{{ aircraftModel.name }}</td>
              <td>

                {% if aircraftModel.manufacturer is not null %}
                  {{ aircraftModel.manufacturer.name }}
                {% else %}
                  -
                {% endif %}

              </td>
              <td>

                {% if aircraftModel.aircraftType is not null %}
                  {{ aircraftModel.aircraftType.name }}
                {% else %}
                  -
                {% endif %}

              </td>
              <td>
                {{ aircraftModel.createdAt|format_datetime }}

                {% if aircraftModel.createdBy is not null %}
                  <br>{{ 'by %name%'|trans({ '%name%': aircraftModel.createdBy.fullName }) }}
                {% endif %}

              </td>
              <td>

                {% if aircraftModel.updatedAt is not null %}
                  {{ aircraftModel.updatedAt|format_datetime }}
                {% else %}
                  -
                {% endif %}

                {% if aircraftModel.updatedBy is not null %}
                  <br>{{ 'by %name%'|trans({ '%name%': aircraftModel.updatedBy.fullName }) }}
                {% endif %}

              </td>
              <td>
                <div class="d-flex gap-1">
                  <button type="button" class="btn btn-secondary" data-action="click->modal#show"
                          data-modal-url-param="{{ path('admin_aircraft_model_clone', { id: aircraftModel.id }) }}">
                    {{ 'Clone'|trans }}
                  </button>
                  <button type="button" class="btn btn-danger" data-action="click->modal#show"
                          data-modal-url-param="{{ path('admin_aircraft_model_delete', { id: aircraftModel.id }) }}">
                    {{ 'Delete'|trans }}
                  </button>
                  <button type="button" class="btn btn-primary" data-action="click->modal#show"
                          data-modal-url-param="{{ path('admin_aircraft_model_update', { id: aircraftModel.id }) }}">
                    {{ 'Edit'|trans }}
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  {% if aircraftModels.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(aircraftModels) }}
    </div>
  {% endif %}

{% endblock %}
