{% extends 'layouts/database.html.twig' %}

{% from 'macro.html.twig' import country_flag, engine_rating, tags %}

{% block title %}{{ 'Engine models'|trans }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Engine models technical data: Dimensions, weight, power ratings,…'|trans }}{% endblock %}
{% block filters %}{% include 'partials/filters/engine_model.html.twig' %}{% endblock %}

{% block content %}
  <div class="card card-body">
    <h1 class="card-title">{{ 'Engine models'|trans }}</h1>
    <div class="card-subtitle text-muted" data-nosnippet>
      {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
        '%count%': engineModels.nbResults,
        '%nbResults%': engineModels.nbResults|format_number
      }) }}
      -
      {{ 'Page %currentPage% out of %nbPages%'|trans({
        '%currentPage%': engineModels.currentPage|format_number,
        '%nbPages%': engineModels.nbPages|format_number
      }) }}
    </div>
  </div>
  <div class="card card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th class="col-2" scope="col">{{ 'Manufacturer'|trans }}</th>
            <th class="col-2" scope="col">{{ 'Name'|trans }}</th>
            <th class="col-2" scope="col">{{ 'Engine type'|trans }}</th>
            <th class="col-2" scope="col">{{ 'Max. continuous rating'|trans }}</th>
            <th class="col-2" scope="col">{{ 'Max. takeoff rating'|trans }}</th>
            <th class="col-auto"></th>
          </tr>
        </thead>
        <tbody class="align-middle">

          {% for engineModel in engineModels %}
            <tr>
              <td>

                {% if engineModel.manufacturer is not null %}
                  {{ country_flag(engineModel.manufacturer.country) }}
                  <a href="{{ path('database_manufacturer_read', { slug: engineModel.manufacturer.slug }) }}">
                    {{ engineModel.manufacturer.name }}
                  </a>
                {% else %}
                  -
                {% endif %}

              </td>
              <td>
                <a href="{{ path('database_engine_model_read', { slug: engineModel.slug }) }}">
                  {{ engineModel.name }}
                </a>
              </td>
              <td>{{ engineModel.engineFamily.label|trans }}</td>
              <td>{{ engine_rating(engineModel, 'continuous') }}</td>
              <td>{{ engine_rating(engineModel, 'takeoff') }}</td>
              <td>{{ tags(engineModel.tags) }}</td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

  {% if engineModels.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(engineModels) }}
    </div>
  {% endif %}

{% endblock %}
