{% extends '_layouts/default.html.twig' %}

{% block title %}{{ engineModel.name }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Technical data on %manufacturer% %name%: Dimensions, weight, thrust,…'|trans({
  '%manufacturer%': engineModel.manufacturer is not null ? engineModel.manufacturer.name,
  '%name%': engineModel.name
}) }}{% endblock %}

{% block images %}
  {% for picture in engineModel.pictures %}
    <meta property="og:image"
          content="{{ absolute_url(asset('pictures/' ~ picture)|imagine_filter('thumbnail_1200x1200')) }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="card overflow-hidden">

    {% if engineModel.pictures|length %}
      {% include '_partials/carousel.html.twig' with { pictures: engineModel.pictures } %}
    {% else %}
      <img class="img-fluid" src="{{ asset('assets/images/no-picture.png') }}" alt="">
    {% endif %}

  </div>
  <div class="card card-body">
    <h1 class="card-title">{{ engineModel.name }}</h1>

    {% if engineModel.manufacturer is not null %}
      <p class="card-text">
        <a href="{{ path('database_manufacturer_read', { slug: engineModel.manufacturer.slug }) }}">
          {{ engineModel.manufacturer.name }}
        </a>
      </p>
    {% endif %}

  </div>
  <div class="d-flex flex-column gap-3">

    {% include '_partials/properties.html.twig' with {
      propertyGroups: engineModel.propertyGroups,
      propertyValues: engineModel.propertyValues
    } %}
    {% include '_partials/database/aircraft_types.html.twig' %}
    {% include '_partials/database/aircraft_models.html.twig' %}

  </div>
{% endblock %}
