{% extends 'layouts/default.html.twig' %}

{% from 'macro.html.twig' import country_flag, tags %}

{% block title %}{{ engineModel.manufacturer.name|default }} {{ engineModel.name }} - {{ parent() }}{% endblock %}
{% block description %}{{ '%manufacturer% %name% technical data: Dimensions, weight, power ratings,…'|trans({
  '%manufacturer%': engineModel.manufacturer.name|default,
  '%name%': engineModel.name
}) }}{% endblock %}

{% block content %}
  <div class="row row-cols-1 row-cols-lg-2 g-3">
    <div class="col">
      <div class="card card-body h-100">
        <h1 class="card-title">{{ engineModel.name }}</h1>
        <div class="card-subtitle text-muted">
          {{ 'Engine model'|trans }}
        </div>

        {% if engineModel.tags|length %}
          <div class="mt-3">
            {{ tags(engineModel.tags) }}
          </div>
        {% endif %}

        {% if engineModel.content is not null %}
          <div class="mt-3">
            {{ engineModel.content|markdown_to_html }}
          </div>
        {% endif %}

      </div>
    </div>
    <div class="col">
      <div class="card card-body h-100">
        <div class="table-responsive">
          <table class="table mb-0">
            <tbody class="align-middle">

              {% if engineModel.manufacturer is not null %}
                <tr>
                  <th class="col-6" scope="row">{{ 'Manufacturer'|trans }}</th>
                  <td class="col-6">
                    {{ country_flag(engineModel.manufacturer.country) }}
                    <a href="{{ path('database_manufacturer_read', { slug: engineModel.manufacturer.slug }) }}">
                      {{ engineModel.manufacturer.name }}
                    </a>
                  </td>
                </tr>
              {% endif %}

              <tr>
                <th class="col-6" scope="row">{{ 'Engine type'|trans }}</th>
                <td class="col-6">{{ engineModel.engineFamily.label|trans }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if engineModel.propertyValues|length %}
    {% include 'database/partials/properties.html.twig' with {
      propertyGroups: engineModel.propertyGroups,
      propertyValues: engineModel.propertyValues
    } %}
  {% endif %}

  {% if engineModel.aircraftModels|length %}
    <div class="card card-body">
      <h2 class="card-title">{{ 'Aircraft models'|trans }}</h2>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th class="col-2" scope="col">{{ 'Manufacturer'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Name'|trans }}</th>
              <th class="col-2" scope="col">{{ 'Aircraft family'|trans }}</th>
              <th class="col-auto"></th>
            </tr>
          </thead>
          <tbody class="align-middle">

            {% for aircraftModel in engineModel.aircraftModels %}
              <tr>
                <td>

                  {% if aircraftModel.manufacturer is not null %}
                    {{ country_flag(aircraftModel.manufacturer.country) }}
                    <a href="{{ path('database_manufacturer_read', { slug: aircraftModel.manufacturer.slug }) }}">
                      {{ aircraftModel.manufacturer.name }}
                    </a>
                  {% endif %}

                </td>
                <td>
                  <a href="{{ path('database_aircraft_model_read', { slug: aircraftModel.slug }) }}">
                    {{ aircraftModel.name }}
                  </a>
                </td>
                <td>{{ aircraftModel.aircraftFamily.label|trans }}</td>
                <td>{{ tags(aircraftModel.tags) }}</td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>

  {% endif %}

{% endblock %}
