{% extends '_layouts/database.html.twig' %}

{% block title %}{{ 'Aircraft models'|trans }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Aircraft models technical data: Dimensions, weight, speed, engines,…'|trans }}{% endblock %}

{% block side_content %}
  {% include '_partials/filters/aircraft_models.html.twig' %}
{% endblock %}

{% block main_content %}
  <div class="card card-body">
    <h1>{{ 'Aircraft models'|trans }}</h1>
    <p class="card-text text-muted" data-nosnippet>
      {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
        '%count%': aircraftModels.nbResults,
        '%nbResults%': aircraftModels.nbResults|format_number
      })|raw }}
      -
      {{ 'Page %currentPage% out of %nbPages%'|trans({
        '%currentPage%': aircraftModels.currentPage|format_number,
        '%nbPages%': aircraftModels.nbPages|format_number
      })|raw }}
    </p>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3">

    {% for aircraftModel in aircraftModels %}
      <div class="col">
        <div class="card">
          <a href="{{ path('database_aircraft_model_read', { slug: aircraftModel.slug }) }}">
            <div class="card-img-top position-relative overflow-hidden">

              {% if aircraftModel.pictures|length %}
                <img class="img-fluid"
                     src="{{ asset('pictures/' ~ aircraftModel.pictures|first)|imagine_filter('thumbnail_560x320') }}"
                     width="560" height="320" alt="{{ aircraftModel.pictures|first.description|escape('html_attr') }}">
              {% else %}
                <img class="img-fluid" src="{{ asset('assets/images/no-picture-560x320.webp') }}"
                     width="560" height="320" alt="">
              {% endif %}

              {% include '_partials/tags.html.twig' with { tags: aircraftModel.tags } %}

            </div>
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between gap-3">
              <div>
                <a href="{{ path('database_aircraft_model_read', { slug: aircraftModel.slug }) }}">
                  <h4>{{ aircraftModel.name }}</h4>
                </a>

                {% if aircraftModel.manufacturer is not null %}
                  <p class="card-text">

                    {% if aircraftModel.manufacturer.country is not null %}
                      <span data-bs-toggle="tooltip"
                            title="{{ aircraftModel.manufacturer.country|country_name|escape('html_attr') }}">
                        <span class="fi fi-{{ aircraftModel.manufacturer.country|lower }} me-2"></span>
                      </span>
                    {% else %}
                      <span data-bs-toggle="tooltip" title="{{ 'International'|trans }}">
                        <span class="fi fi-xx me-2"></span>
                      </span>
                    {% endif %}

                    {{ aircraftModel.manufacturer.name }}
                  </p>
                {% endif %}

              </div>

              {% if aircraftModel.manufacturer is not null and aircraftModel.manufacturer.logo is not null %}
                <div class="logo-container">
                  <img src="{{ asset('logos/' ~ aircraftModel.manufacturer.logo) }}" alt="">
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  {% if aircraftModels.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(aircraftModels) }}
    </div>
  {% endif %}

{% endblock %}
