{% extends '_layouts/default.html.twig' %}

{% block title %}{{ aircraftModel.manufacturer is not null ? aircraftModel.manufacturer.name }} {{ aircraftModel.name }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Technical data on %manufacturer% %name%: Dimensions, weight, range, performance,…'|trans({
  '%manufacturer%': aircraftModel.manufacturer is not null ? aircraftModel.manufacturer.name,
  '%name%': aircraftModel.name
}) }}{% endblock %}

{% block images %}
  {% for picture in aircraftModel.pictures %}
    <meta property="og:image"
          content="{{ absolute_url(asset('pictures/' ~ picture)|imagine_filter('thumbnail_1200x1200')) }}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="card position-relative">

    {% if aircraftModel.pictures|length %}
      {% include '_partials/carousel.html.twig' with { pictures: aircraftModel.pictures } %}
    {% else %}
      <img class="img-fluid" src="{{ asset('assets/images/no-picture-1400x800.webp') }}"
           width="1400" height="800" alt="">
    {% endif %}

    {% include '_partials/tags.html.twig' with { tags: aircraftModel.tags } %}

  </div>
  <div class="card card-body">
    <div class="d-flex justify-content-between gap-3">
      <div>
        <h1 class="card-title">{{ aircraftModel.name }}</h1>
        <div class="table-responsive">
          <table class="table mb-0">

            {% if aircraftModel.manufacturer is not null %}
              <tr>
                <th scope="row" class="col-1">{{ 'Manufacturer:'|trans }}</th>
                <td class="col-auto">

                  {% if aircraftModel.manufacturer.country is not null %}
                    <span data-bs-toggle="tooltip"
                          title="{{ aircraftModel.manufacturer.country|country_name|escape('html_attr') }}">
                      <span class="fp {{ aircraftModel.manufacturer.country|lower }} me-2"></span>
                    </span>
                  {% else %}
                    <span data-bs-toggle="tooltip" title="{{ 'International'|trans }}">
                      <span class="fp intl me-2"></span>
                    </span>
                  {% endif %}

                  <a href="{{ path('database_manufacturer_read', { slug: aircraftModel.manufacturer.slug }) }}">
                    {{ aircraftModel.manufacturer.name }}
                  </a>
                </td>
              </tr>
            {% endif %}

            {% if aircraftModel.aircraftType is not null %}
              <tr>
                <th scope="row" class="col-1">{{ 'Aircraft type:'|trans }}</th>
                <td class="col-auto">
                  <a href="{{ path('database_aircraft_type_read', { slug: aircraftModel.aircraftType.slug }) }}">
                    {{ aircraftModel.aircraftType.name }}
                  </a>
                </td>
              </tr>
            {% endif %}

          </table>
        </div>

        {% if aircraftModel.content is not null %}
          <div class="mt-3">
            {{ aircraftModel.content|markdown_to_html }}
          </div>
        {% endif %}

      </div>

      {% if aircraftModel.manufacturer is not null and aircraftModel.manufacturer.logo is not null %}
        <div class="logo-container-lg">
          <img src="{{ asset('logos/' ~ aircraftModel.manufacturer.logo) }}" alt="">
        </div>
      {% endif %}

    </div>
  </div>
  <div class="d-flex flex-column gap-3">

    {% include '_partials/properties.html.twig' with {
      propertyGroups: aircraftModel.propertyGroups,
      propertyValues: aircraftModel.propertyValues
    } %}
    {% include '_partials/database/engine_models.html.twig' %}

  </div>
{% endblock %}
