{% extends 'layouts/default.html.twig' %}

{% from 'macro.html.twig' import country_flag, opengraph_images, tags %}

{% block title %}{{ aircraftModel.manufacturer.name|default }} {{ aircraftModel.name }} - {{ parent() }}{% endblock %}
{% block description %}{{ '%manufacturer% %name% technical data: Dimensions, weight, speed, engines,…'|trans({
  '%manufacturer%': aircraftModel.manufacturer.name|default,
  '%name%': aircraftModel.name
}) }}{% endblock %}
{% block images %}{{ opengraph_images(aircraftModel.pictures) }}{% endblock %}

{% block content %}
  <div class="card position-relative overflow-hidden">

    {% if aircraftModel.pictures|length %}
      {% include 'database/partials/carousel.html.twig' with { pictures: aircraftModel.pictures } %}
    {% elseif aircraftModel.aircraftType is not null and aircraftModel.aircraftType.pictures|length %}
      {% include 'database/partials/carousel.html.twig' with { pictures: aircraftModel.aircraftType.pictures } %}
    {% else %}
      <img class="img-fluid" src="{{ asset('assets/images/no-picture-1400x800.webp') }}"
           width="1400" height="800" alt="">
    {% endif %}

  </div>
  <div class="row row-cols-1 row-cols-lg-2 g-3">
    <div class="col">
      <div class="card card-body h-100">
        <h1 class="card-title">{{ aircraftModel.name }}</h1>
        <div class="card-subtitle text-muted">
          {{ 'Aircraft model'|trans }}
        </div>

        {% if aircraftModel.tags|length %}
          <div class="mt-3">
            {{ tags(aircraftModel.tags) }}
          </div>
        {% endif %}

        {% if aircraftModel.content is not null %}
          <div class="mt-3">
            {{ aircraftModel.content|markdown_to_html }}
          </div>
        {% endif %}

      </div>
    </div>
    <div class="col">
      <div class="card card-body h-100">
        <div class="table-responsive">
          <table class="table mb-0">
            <tbody class="align-middle">

              {% if aircraftModel.manufacturer is not null %}
                <tr>
                  <th class="col-6" scope="row">{{ 'Manufacturer'|trans }}</th>
                  <td class="col-6">
                    {{ country_flag(aircraftModel.manufacturer.country) }}
                    <a href="{{ path('database_manufacturer_read', { slug: aircraftModel.manufacturer.slug }) }}">
                      {{ aircraftModel.manufacturer.name }}
                    </a>
                  </td>
                </tr>
              {% endif %}

              <tr>
                <th class="col-6" scope="row">{{ 'Aircraft family'|trans }}</th>
                <td class="col-6">{{ aircraftModel.aircraftFamily.label|trans }}</td>
              </tr>

              {% if aircraftModel.aircraftType is not null %}
                <tr>
                  <th class="col-6" scope="row">{{ 'Aircraft type'|trans }}</th>
                  <td class="col-6">
                    <a href="{{ path('database_aircraft_type_read', { slug: aircraftModel.aircraftType.slug }) }}">
                      {{ aircraftModel.aircraftType.manufacturer.name|default }} {{ aircraftModel.aircraftType.name }}
                    </a>
                  </td>
                </tr>
              {% endif %}

              <tr>
                <th class="col-6" scope="row">{{ 'Engine type'|trans }}</th>
                <td class="col-6">{{ aircraftModel.engineFamily.label|trans }}</td>
              </tr>

              {% if aircraftModel.engineFamily is not constant('App\\Enum\\EngineFamily::None') %}
                <tr>
                  <th class="col-6" scope="row">{{ 'Engine count'|trans }}</th>
                  <td class="col-6">{{ aircraftModel.engineCount }}</td>
                </tr>
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if aircraftModel.propertyValues|length %}
    {% include 'database/partials/properties.html.twig' with {
      propertyGroups: aircraftModel.propertyGroups,
      propertyValues: aircraftModel.propertyValues
    } %}
  {% endif %}

  <div class="row row-cols-1 row-cols-lg-2 g-3">

    {% if aircraftModel.engineModels|length %}
      <div class="col">
        {% include 'database/partials/engine_models.html.twig' with { engineModels: aircraftModel.engineModels } %}
      </div>
    {% endif %}

  </div>
{% endblock %}
