{% extends 'layouts/default.html.twig' %}

{% block title %}{{ 'Internal server error'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
  <div class="mx-auto max-w-500px pt-5">
    <div class="d-flex flex-column align-items-center gap-3">
      <img src="{{ asset('assets/images/logo.svg') }}" width="250" height="250" alt="">
      <h1 class="text-center">{{ 'Internal server error'|trans }}</h1>
      <a href="{{ path('home') }}">
        {{ 'Go back to homepage'|trans }}
      </a>
    </div>
  </div>
{% endblock %}
