{% extends 'layouts/default.html.twig' %}

{% block title %}{{ 'Update password'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
  <div class="card card-body mx-auto max-w-500px">
    <h1 class="card-title text-center">{{ 'Update password'|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.plainPassword.first, { label: 'New password:'|trans }) }}
    {{ form_row(form.plainPassword.second, { label: 'New password confirmation:'|trans }) }}
    {{ form_row(form.currentPassword, { label: 'Current password:'|trans }) }}

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">
        {{ 'Update password'|trans }}
      </button>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

  </div>
{% endblock %}
