{% extends '_layouts/database.html.twig' %}

{% block title %}{{ 'Aircraft types'|trans }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Technical data on aircraft types: Dimensions, weight, range, performance,…'|trans }}{% endblock %}

{% block side_content %}
  {% include '_partials/filters/aircraft_types.html.twig' %}
{% endblock %}

{% block main_content %}
  <div class="card card-body">
    <h1 class="card-title">{{ 'Aircraft types'|trans }}</h1>
    <p class="card-text text-muted">
      {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
        '%count%': aircraftTypes.nbResults,
        '%nbResults%': aircraftTypes.nbResults|format_number
      })|raw }}
      -
      {{ 'Page %currentPage% out of %nbPages%'|trans({
        '%currentPage%': aircraftTypes.currentPage|format_number,
        '%nbPages%': aircraftTypes.nbPages|format_number
      })|raw }}
    </p>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3">

    {% for aircraftType in aircraftTypes %}
      <div class="col">
        <div class="card">
          <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
            <div class="card-img-top position-relative">

              {% if aircraftType.pictures|length %}
                <img class="img-fluid"
                     src="{{ asset('pictures/' ~ aircraftType.pictures.first)|imagine_filter('thumbnail_560x320') }}"
                     width="560" height="320" alt="">
              {% else %}
                <img class="img-fluid" src="{{ asset('assets/images/no-picture-560x320.webp') }}"
                     width="560" height="320" alt="">
              {% endif %}

              {% include '_partials/tags.html.twig' with { tags: aircraftType.tags } %}

            </div>
          </a>
          <div class="card-body">
            <div class="d-flex justify-content-between gap-3">
              <div>
                <h3 class="card-title">
                  <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
                    {{ aircraftType.name }}
                  </a>
                </h3>

                {% if aircraftType.manufacturer is not null %}
                  <p class="card-text">
                    {{ aircraftType.manufacturer.name }}
                  </p>
                {% endif %}

                {% if aircraftType.iataCode is not null or aircraftType.icaoCode is not null %}
                  <p class="card-text text-muted small">
                    {{ 'IATA: %iataCode% | ICAO: %icaoCode%'|trans({
                      '%iataCode%': aircraftType.iataCode|default('-'),
                      '%icaoCode%': aircraftType.icaoCode|default('-')
                    })|raw }}
                  </p>
                {% endif %}

              </div>

              {% if aircraftType.manufacturer is not null and aircraftType.manufacturer.logo is not null %}
                <div class="logo-container">
                  <img src="{{ asset('logos/' ~ aircraftType.manufacturer.logo) }}" alt="">
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  {% if aircraftTypes.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(aircraftTypes) }}
    </div>
  {% endif %}

{% endblock %}
