{% extends 'layouts/database.html.twig' %}

{% from 'macro.html.twig' import country_flag, tags %}

{% block title %}{{ 'Aircraft types'|trans }} - {{ parent() }}{% endblock %}
{% block description %}{{ 'Aircraft types technical data: Dimensions, weight, speed, engines,…'|trans }}{% endblock %}
{% block filters %}{% include 'partials/filters/aircraft_type.html.twig' %}{% endblock %}

{% block content %}
  <div class="card card-body">
    <h1 class="card-title">{{ 'Aircraft types'|trans }}</h1>
    <div class="card-subtitle text-muted" data-nosnippet>
      {{ '{0}No items|{1}1 item|]1,Inf[%nbResults% items'|trans({
        '%count%': aircraftTypes.nbResults,
        '%nbResults%': aircraftTypes.nbResults|format_number
      }) }}
      -
      {{ 'Page %currentPage% out of %nbPages%'|trans({
        '%currentPage%': aircraftTypes.currentPage|format_number,
        '%nbPages%': aircraftTypes.nbPages|format_number
      }) }}
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-3">

    {% for aircraftType in aircraftTypes %}
      <div class="col">
        <div class="card h-100">
          <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
            <div class="card-img-top position-relative overflow-hidden">

              {% if aircraftType.pictures|length %}
                <img class="img-fluid"
                     src="{{ asset('pictures/' ~ aircraftType.pictures|first)|imagine_filter('thumbnail_560x320') }}"
                     width="560" height="320" alt="{{ aircraftType.pictures|first.description|escape('html_attr') }}">
              {% else %}
                <img class="img-fluid" src="{{ asset('assets/images/no-picture-560x320.webp') }}"
                     width="560" height="320" alt="{{ 'No picture available'|trans }}">
              {% endif %}

            </div>
          </a>
          <div class="card-body">

            {% if aircraftType.tags|length %}
              <div class="mb-3">
                {{ tags(aircraftType.tags) }}
              </div>
            {% endif %}

            <div class="d-flex justify-content-between gap-3">
              <div>
                <h4 class="card-title">
                  <a href="{{ path('database_aircraft_type_read', { slug: aircraftType.slug }) }}">
                    {{ aircraftType.name }}
                  </a>
                </h4>
                <div class="card-subtitle text-muted">
                  {{ aircraftType.aircraftFamily.label|trans }} - {{ aircraftType.engineFamily.label|trans }}
                </div>
              </div>

              {% if aircraftType.manufacturer is not null and aircraftType.manufacturer.logo is not null %}
                <div class="logo-container">
                  <img src="{{ asset('logos/' ~ aircraftType.manufacturer.logo) }}" alt="">
                </div>
              {% endif %}

            </div>

            {% if aircraftType.manufacturer is not null %}
              <div class="mt-2">
                {{ country_flag(aircraftType.manufacturer.country) }}
                {{ aircraftType.manufacturer.name }}
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  {% if aircraftTypes.haveToPaginate %}
    <div class="d-flex justify-content-center">
      {{ pagerfanta(aircraftTypes) }}
    </div>
  {% endif %}

{% endblock %}
